# Telegram
# Токен з @BotFather
TELEGRAM_TOKEN=цифри:літери
# Особистий ID (можна дізнатися у @userinfobot)
TELEGRAM_CHAT_ID=123456789

# MongoDB Atlas
# Формат: mongodb+srv://<user>:<password>@<cluster>.mongodb.net/
MONGODB_URI=mongodb+srv://user:password@cluster0.xxxxx.mongodb.net/
MONGODB_DB=Manga
MONGODB_MANGA_COLLECTION=manga
MONGODB_META_COLLECTION=meta

# Налаштування браузера (Playwright)
# true — фоновий режим, false - відкривати вікно браузера (для дебагу)
HEADLESS=true
# Максимальна кількість одночасних вкладок
MAX_CONCURRENT_PAGES=10
# Час очікування завантаження сторінки в секундах
PAGE_TIMEOUT=120
# Кількість манг, що обробляються за один запуск браузера
BROWSER_BATCH_SIZE=10

# Налаштування API
# Максимальна кількість одночасних API запитів
MAX_CONCURRENT_API=5

# Додатково
# Скидати контекст браузера кожні N манг (для очищення пам'яті)
CONTEXT_RESET_EVERY=20